@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2? family= Roboto:wght@100;300;400;500;700;900 & display=swap");
@keyframes rotate_check {
  0% {
    transform: translateX(100%) rotate(-1turn);
  }
  100% {
    transform: translateX(0%) rotate(0turn);
  }
}
@keyframes apparition {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  85%, 100% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
  }
}
/*Police des titres */
/*Police du texte */
/*Bouton principal */
.btn-main {
  color: white;
  background: linear-gradient(170deg, #ff79da 0%, #9356dc 100%);
  box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.26);
  border-radius: 50px;
  border: none;
  font-size: 0.8em;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  padding: 15px 18px 15px 18px;
  position: relative;
  z-index: 1;
}
.btn-main:hover::after {
  opacity: 1;
}
.btn-main::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(170deg, #ff93e1 0%, #a16be0 100%);
  opacity: 0;
  z-index: -1;
  border-radius: 50px;
  box-shadow: 1px 2px 6px 2px rgba(0, 0, 0, 0.212);
  transition-duration: 250ms;
}

/*Bouton coeur */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
}
.btn:hover .btn__heart--border {
  background: linear-gradient(170deg, #ff79da 0%, #9356dc 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.btn:hover .btn__heart--full {
  transform: scale(1);
}
.btn__heart {
  font-size: 25px;
  text-align: center;
  padding: 5px 0 5px 0;
}
.btn__heart--position {
  position: absolute;
  top: none;
  left: none;
  bottom: 30px;
  right: 30px;
}
.btn__heart--menu-position {
  position: absolute;
  top: none;
  left: none;
  bottom: none;
  right: 20px;
}
.btn__heart--full {
  background: linear-gradient(170deg, #ff79da 0%, #9356dc 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transform: scale(0);
  transform-origin: bottom;
  transition: transform 600ms ease-in-out;
}
.btn__heart--border {
  transform-origin: bottom;
  transition: color 800ms ease-in-out;
}

@media all {
  .dish-list__item {
    background-color: white;
    width: 100%;
    padding: 15px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 4px 5px 20px 0px rgba(0, 0, 0, 0.158);
    transition-duration: 250ms;
    position: relative;
    animation: apparition 2000ms;
  }
  .dish-list__item::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #99e2d0;
    border-radius: 0px 20px 20px 0px;
    width: 80px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
  }
  .dish-list__item:hover .dish-list__item-body {
    width: 75%;
    gap: 10px;
    transition-duration: 300ms;
    margin-right: 10px;
  }
  .dish-list__item:hover::before {
    transform: scaleX(1);
  }
  .dish-list__item:hover::after {
    content: "\f058";
    font-family: "Font Awesome 5 Free";
    text-align: center;
    font-weight: 900;
    font-size: 1.5em;
    color: white;
    position: absolute;
    top: 30px;
    right: 30px;
    animation: rotate_check 400ms;
  }
  .dish-list__item-body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .dish-list__item p {
    margin: 5px 0 5px 0;
  }
  .dish-list__item-p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
  .dish-list__item-p--bold {
    font-weight: 800;
    align-self: flex-end;
  }
  .dish-list__item-p--regular {
    font-size: 0.9em;
  }
}
@media (min-width: 500px) {
  .dish-list__item:hover .dish-list__item-body {
    width: 80%;
  }
}
@media (min-width: 700px) {
  .dish-list__item:hover .dish-list__item-body {
    width: 85%;
  }
}
@media (min-width: 1000px) {
  .dish-list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    text-align: center;
    transition: transform 200ms ease-in-out;
  }
  .dish-list__item::before {
    width: 100%;
    border-radius: 20px 20px;
  }
  .dish-list__item:hover .dish-list__item-body {
    width: auto;
    gap: 0;
    transition-duration: 300ms;
    margin-right: 0;
    z-index: 1;
  }
  .dish-list__item:hover::after {
    right: 20px;
    bottom: 10px;
    left: inherit;
    top: inherit;
  }
  .dish-list__item-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .dish-list__item-p {
    white-space: inherit;
    overflow: inherit;
    text-overflow: inherit;
  }
  .dish-list__item-p--bold {
    align-self: auto;
  }
}
@media all {
  header {
    width: 100%;
    height: 70px;
    margin: auto;
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.151);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 1;
  }
  header h1 {
    font-size: 2em;
    font-weight: 500;
    font-family: "Shrikhand", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-grow: 1;
  }
  header a {
    color: black;
  }
  header i {
    visibility: hidden;
  }
  header i.visible {
    visibility: visible;
    padding-left: 20px;
  }
}
@media (min-width: 1000px) {
  header h1 {
    justify-content: flex-start;
    margin-left: 40px;
  }
}
/*body */
@media all {
  body {
    width: 100%;
    box-sizing: border-box;
    margin: 0px;
    font-family: "Roboto";
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
  }
}
/*Footer */
@media all {
  footer {
    background-color: #353535;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  footer .footer__logo {
    color: white;
    font-size: 1.2em;
    font-weight: 400;
    font-family: "Shrikhand", sans-serif;
    font-weight: normal;
    margin: 20px 0 10px 20px;
  }
  footer ul {
    margin: 0 0 40px 20px;
    padding: 0;
  }
  footer li {
    list-style-type: none;
    margin-top: 8px;
  }
  footer a {
    color: white;
    text-decoration: none;
  }
  footer a i {
    width: 20px;
  }
}
@media (min-width: 500px) {
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
  }
  footer .footer__logo {
    margin: 0;
  }
  footer ul {
    padding: 30px 0 30px 0;
    margin: 0;
  }
}
@media (min-width: 1000px) {
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 80%;
  }
  ul li {
    margin-top: 0;
  }
}
/*Page d'accueil */
main {
  width: 100%;
}

/*Premiere section  */
.presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

@media all {
  /*Localisation */
  .location {
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    font-size: 1em;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    width: 100%;
  }
  .location p {
    margin: 15px 0 15px 0;
  }
}
@media (min-width: 1400px) {
  .location {
    width: 50%;
    max-width: 500px;
  }
}
/*Présentation */
@media all {
  .section-presentation {
    width: 100%;
    background-color: #f6f6f6;
    text-align: center;
    padding: 40px 0 40px 0;
  }
  .section-presentation h2 {
    margin: auto;
    margin-top: 0;
    width: 70%;
    font-size: 1.3em;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
  }
  .section-presentation p {
    color: #353535;
    width: 80%;
    margin: auto;
    padding: 20px 0 30px 0;
  }
}
@media (min-width: 1000px) {
  .section-presentation {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .section-presentation h2, .section-presentation p {
    margin: 0;
  }
}
/*Fonctionnement */
@media all {
  aside {
    width: 90%;
    margin: auto;
  }
  aside h3 {
    font-size: 1.4em;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
  }

  /*Etapes du fonctionnement du site*/
  .list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    margin-bottom: 40px;
    padding: 0px;
    list-style: none;
    width: 80%;
  }
  .list__item {
    height: 25px;
    width: 100%;
    max-width: 250px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    background-color: #f6f6f6;
    padding: 20px 18px 20px 18px;
    border-radius: 15px;
    box-shadow: 4px 5px 20px 0px rgba(0, 0, 0, 0.158);
    transition-duration: 250ms;
    font-size: 0.9em;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    position: relative;
    z-index: 1;
  }
  .list__item:hover i {
    color: #9356dc;
  }
  .list__item:hover::after {
    opacity: 1;
  }
  .list__item::after {
    content: "";
    opacity: 0;
    background-color: #f2eafb;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 15px;
    box-shadow: 4px 5px 20px 0px rgba(0, 0, 0, 0.158);
    transition-duration: 250ms;
  }
  .list__item--circle {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    font-size: 0.8em;
    background-color: #9356dc;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    top: 22px;
    left: -10px;
  }
}
@media (min-width: 500px) {
  .list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 1000px) {
  .presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .location {
    order: 2;
    width: 30%;
    margin-left: 10%;
    border-radius: 30px;
    box-shadow: inset 2px 5px 6px rgba(0, 0, 0, 0.13);
  }

  aside {
    order: 3;
    width: 40%;
  }
  aside h3 {
    text-align: center;
  }

  .list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
@media (min-width: 1400px) {
  .list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
  }

  .list__item {
    background-color: white;
  }
}
/* Section des restaurants */
@media all {
  .section-restaurants {
    width: 100%;
    background-color: #f6f6f6;
    padding: 40px 0px 40px;
  }
  .section-restaurants h3 {
    font-size: 1.5em;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
    margin-left: 5%;
  }
  .section-restaurants--flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  /* Cartes des restaurants */
  .art-restaurant {
    width: 90%;
    max-width: 350px;
    margin: auto;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    position: relative;
    box-shadow: 4px 5px 20px 0px rgba(0, 0, 0, 0.158);
    transition-duration: 250ms;
  }
  .art-restaurant:hover {
    box-shadow: 1px 2px 6px 2px rgba(0, 0, 0, 0.212);
    transition-duration: 250ms;
    opacity: 90%;
  }
  .art-restaurant a {
    text-decoration: none;
    color: black;
  }
  .art-restaurant__img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
    height: 150px;
  }
  .art-restaurant__img img {
    width: 100%;
    object-fit: contain;
  }
  .art-restaurant__new {
    background-color: #99e2d0;
    color: #278870;
    font-size: 0.8em;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    padding: 8px 10px 8px 10px;
    position: absolute;
    top: 0;
    right: 10px;
  }
  .art-restaurant__body {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px 15px 20px 15px;
  }
  .art-restaurant__body h4 {
    font-size: 1em;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
    margin: 0;
  }
  .art-restaurant__body p {
    margin: 5px 0px 0px 0px;
  }
}
@media (min-width: 500px) {
  .section-restaurants--flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .section-restaurants h3 {
    text-align: center;
    margin-left: 0;
  }

  .art-restaurant {
    margin: 0;
  }
  .art-restaurant__new {
    font-size: 1.2em;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
    right: 15px;
  }
}
@media (min-width: 1000px) {
  .section-restaurants--flex {
    width: 90%;
    gap: 30px;
    margin: auto;
  }

  .art-restaurant {
    width: 100%;
    max-width: 400px;
  }
  .art-restaurant__img {
    height: 200px;
  }
}
/* Page menu */
@media all {
  /* Corps de la page */
  .main-menu {
    width: 100%;
    background-color: #f6f6f6;
    /* Images du restaurant */
  }
  .main-menu__img {
    width: 100%;
    height: 300px;
    max-height: 400px;
    overflow: hidden;
    z-index: -1;
  }
  .main-menu__img img {
    width: 100%;
    height: 300px;
    max-height: 400px;
    z-index: -1;
    object-fit: cover;
  }

  /* Section du menu*/
  .section-menu {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: #f6f6f6;
    border-radius: 30px 30px 0 0;
    z-index: 1;
    position: relative;
    bottom: 30px;
    /*Nom du restaurant*/
  }
  .section-menu__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: relative;
    width: 90%;
    margin: auto;
  }
  .section-menu__title h5 {
    font-size: 1.5em;
    font-weight: 400;
    font-family: "Shrikhand", sans-serif;
    width: 80%;
  }

  /*Section du menu*/
  .section-dish {
    width: 90%;
    margin: auto;
    /* Titre, entrées plats et desserts*/
  }
  .section-dish h6 {
    font-size: 1em;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    margin: 0 0 0 0;
    position: relative;
    /* Trait de décoration sous le titre*/
  }
  .section-dish h6::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 3px;
    background-color: #99e2d0;
  }

  /* Liste des plats*/
  .dish-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 40px;
    width: 90%;
    margin: auto;
  }

  .art-dish__button--position {
    text-align: center;
    width: 100%;
  }
  .art-dish__button--position button {
    margin-top: 20px;
    padding: 15px 40px 15px 40px;
  }
}
@media (min-width: 500px) {
  .section-dish {
    width: 80%;
  }
  .section-dish h6 {
    text-align: center;
    /* Trait de décoration sous le titre*/
  }
  .section-dish h6::after {
    width: 100%;
  }
}
@media (min-width: 1000px) {
  .main-menu__img {
    height: 700px;
    max-height: 800px;
  }
  .main-menu__img img {
    height: 700px;
    max-height: 800px;
  }

  .dish-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

/*# sourceMappingURL=style.css.map */
