/*Page d'accueil */

main {
    width:$tall_dimension;
}

/*Premiere section  */

.presentation{
    @include flexbox($flex-direction:column);
    width:$tall_dimension;
}


@media all {
/*Localisation */

.location {
    background-color: $background_color_medium;
    @include flexbox;
    gap:10px;
    @include font($font-size:1em, $font-weight:600);
    width:$tall_dimension;

    p {
        margin: 15px 0 15px 0;
    }
}

}

@media (min-width: 1400px) {
.location {
    width:50%;
    max-width: 500px;
}
}



/*Présentation */
@media all{
    .section-presentation {
        width:$tall_dimension;
        background-color: $background_color_light;
        text-align: center;
        padding: 40px 0 40px 0;

        h2 {
            margin:auto;
            margin-top:0;
            width:70%;
            @include font($font-size: 1.3em, $font-weight:900);
        }

        p {
            color: $background_color_footer;
            width:80%;
            margin:auto;
            padding:20px 0 30px 0;
            
        }

}}

@media (min-width: 1000px) {
    .section-presentation{
        height: 300px;
        @include flexbox($flex-direction:column);
        gap:10px;

        h2, p{
            margin:0;
        }
    }
}

/*Fonctionnement */
@media all {
aside {
    width:90%;
    margin:auto;

    h3 {
        @include font ($font-size:1.4em);
    }
}

/*Etapes du fonctionnement du site*/

.list {
    @include flexbox($flex-direction:column);
    gap: 20px;
    margin:auto;
    margin-bottom:40px;
    padding: 0px;
    list-style: none;
    width:80%;
    

    &__item { //items de la liste
        height: 25px;
        width:$tall_dimension;
        max-width: 250px;
        @include flexbox($justify-content:flex-start);
        gap:20px;
        background-color: $background_color_light;
        padding:20px 18px 20px 18px;
        border-radius: 15px;
        @include boxshadow( $box-shadow: 4px 5px 20px 0px rgba(0, 0, 0, 0.158));
        @include font($font-size:0.9em, $font-weight:500);
        position :relative;
        z-index: 1;

        &:hover {// Transition au survol 
            i {
                color:$primary_color;
            }

            &::after{
                opacity:1;
            }
        }

        &::after {
            content:"";
            opacity:0;
            background-color:lighten($primary_color,35%);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            border-radius: 15px;
            @include boxshadow($box-shadow:4px 5px 20px 0px rgba(0, 0, 0, 0.158) );
        }

        &--circle{ //cercle autour des chiffres
            width: 22px;
            height: 22px;
            border-radius: 50%;
            font-size: 0.8em;
            background-color: $primary_color;
            color:$light_color;
            @include flexbox;
            position:absolute;
            top:22px;
            left:-10px;
        }

        
    }
}

}

@media (min-width: 500px) {

.list {
    width: $tall_dimension;
    @include flexbox ($justify-content:space-around, $flex-direction:row);
    flex-wrap: wrap;
}
}

@media (min-width: 1000px) {
.presentation {
    @include flexbox ($flex-direction:row);
    flex-wrap : wrap;
}

.location {
    order: 2;
    width:30%;
    margin-left:10%;
    border-radius: 30px;
    box-shadow: inset 2px 5px 6px rgba(0, 0, 0, 0.13);
}

aside {
    order:3;
    width:40%;

    h3 {
        text-align: center;
    }
}

.list {
    width: $tall_dimension;
    @include flexbox($flex-direction:column);
    flex-wrap: nowrap;
    
}
}


@media (min-width: 1400px) {
    .list {
            @include flexbox($flex-direction:row);
            flex-wrap: wrap;
            gap:40px;
        }

        .list__item {
            background-color:$light_color;
        }
}

/* Section des restaurants */
@media all {

.section-restaurants {
    width: $tall_dimension;
    background-color: $background_color_light;
    padding:40px 0px 40px;
    h3 {
        @include font;
        margin-left:5%;
    }

    &--flex {
        @include flexbox($flex-direction:column);
        gap:20px;
    }
}

/* Cartes des restaurants */

.art-restaurant{
    width:90%;
    max-width: 350px;
    margin:auto;
    background-color: $light_color;
    border-radius : 20px 20px 20px 20px;
    position:relative;
    box-shadow: 4px 5px 20px 0px rgba(0, 0, 0, 0.158);
    transition-duration: 250ms;

    &:hover {
        @include boxshadow;
        opacity: 90%;
    }

    a{
        text-decoration: none;
        color: $dark_color;


        // &:hover h4{
        //     color:$primary_color;
        // }
    }

    
    &__img {
        @include flexbox;
        border-radius : 20px 20px 0px 0px;
        overflow: hidden;
        height: 150px;
    
        img {
            width:$tall_dimension;
            object-fit: contain;
        }

    }

    &__new {
        background-color: $tertiary_color;
        color: darken($tertiary_color, 40%);
        @include font($font-size:0.8em, $font-weight: 600);
        padding:8px 10px 8px 10px;
        position:absolute;
        top:0;
        right:10px;
        }

    &__body {
        margin-top:10px;
        @include flexbox($justify-content:space-between);
        padding: 10px 15px 20px 15px;

        h4 {
            @include font ($font-size:1em, $font-weight:900);
            margin:0;
        }

        p {
            margin:5px 0px 0px 0px;
        }



    }


}

}

@media (min-width: 500px) {

.section-restaurants{
    

    &--flex{
    @include flexbox;
    flex-wrap:wrap;
    
    }

    h3 {
        text-align: center;
        margin-left:0;
    }
}

.art-restaurant {
    margin:0;

    &__new {
        @include font($font-size:1.2em);
        right:15px;
    }
}

}

@media (min-width: 1000px) {
    .section-restaurants{
       
        &--flex {
            width:90%;
            gap:30px;
            margin:auto;
    
        }
    }

    .art-restaurant {
        width:$tall_dimension;
        max-width: 400px;

        &__img {
            height: 200px;
        }

    }
}


