// Variables des polices

$title_font : "Shrikhand";
$text_font : "Roboto";

// Couleurs principales

$primary_color: #9356DC;
$secondary_color: #FF79DA;
$tertiary_color:#99E2D0;

// Couleurs secondaires 

$font_color :#000;