// Variables des polices

$title_font : "Shrikhand";
$text_font : "Roboto";

// Couleurs principales

$primary_color: #9356DC;
$secondary_color: #FF79DA;
$tertiary_color:#99E2D0;

// Couleurs secondaires 

$dark_color :#000;
$light_color : #fff;
$background_color_footer : #353535;
