/*body */

@media all {
    body {
    width:$tall_dimension;
    box-sizing: border-box;
    margin : 0px;
    font-family: $text_font;
    color: $dark_color;
    @include flexbox($flex-direction:column);
    position:relative;
}

ul {
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
    -webkit-margin-start: 0px;
            margin-inline-start: 0px;
    -webkit-margin-end: 0px;
            margin-inline-end: 0px;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
}
}