
@media all{

header {
    width: $tall_dimension;
    height: 70px;
    margin:auto;
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.151);
    @include flexbox;
    z-index: 1;

    h1 {
        @include font($font-size: 2em, $font-weight:500, $font-family:$title_font);
        @include flexbox;
        flex-grow:1;
    }
    a {
        color: $dark_color;
            
        }
        
    i {
        visibility: hidden;
        
        &.visible {
            visibility: visible;
        }
    }

    
}

}