
@media all{

header {
    width:90%;
    height: 50px;
    margin:auto;
    box-sizing: border-box;
    @include flexbox;

    h1 {
        @include title_font;
        @include flexbox;
        flex-grow:1;
    }
    a {
        color: $dark_color;
            
        }
        
    i {
        visibility: hidden;
        
        &.visible {
            visibility: visible;
        }
    }

    
}

}